<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wujie.ac.app.business.repository.LoginServerMapper" >
  <resultMap id="BaseResultMap" type="com.wujie.ac.app.business.entity.LoginServer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="oid" property="oid" jdbcType="VARCHAR" />
    <result column="server_ip" property="serverIp" jdbcType="VARCHAR" />
    <result column="server_port" property="serverPort" jdbcType="VARCHAR" />
    <result column="server_oid" property="serverOid" jdbcType="VARCHAR" />
    <result column="ower_server_oid" property="owerServerOid" jdbcType="VARCHAR" />
    <result column="trades" property="trades" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, oid, server_ip, server_port, server_oid, ower_server_oid, trades, creat_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from login_server
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from login_server
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wujie.ac.app.business.entity.LoginServer" >
    insert into login_server (id, oid, server_ip,
    server_port, server_oid, ower_server_oid,
    trades, creat_time)
    values (#{id,jdbcType=BIGINT}, #{oid,jdbcType=VARCHAR}, #{serverIp,jdbcType=VARCHAR},
    #{serverPort,jdbcType=VARCHAR}, #{serverOid,jdbcType=VARCHAR}, #{owerServerOid,jdbcType=VARCHAR},
    #{trades,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wujie.ac.app.business.entity.LoginServer" >
    insert into login_server
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oid != null" >
        oid,
      </if>
      <if test="serverIp != null" >
        server_ip,
      </if>
      <if test="serverPort != null" >
        server_port,
      </if>
      <if test="serverOid != null" >
        server_oid,
      </if>
      <if test="owerServerOid != null" >
        ower_server_oid,
      </if>
      <if test="trades != null" >
        trades,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="serverPort != null" >
        #{serverPort,jdbcType=VARCHAR},
      </if>
      <if test="serverOid != null" >
        #{serverOid,jdbcType=VARCHAR},
      </if>
      <if test="owerServerOid != null" >
        #{owerServerOid,jdbcType=VARCHAR},
      </if>
      <if test="trades != null" >
        #{trades,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujie.ac.app.business.entity.LoginServer" >
    update login_server
    <set >
      <if test="oid != null" >
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        server_ip = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="serverPort != null" >
        server_port = #{serverPort,jdbcType=VARCHAR},
      </if>
      <if test="serverOid != null" >
        server_oid = #{serverOid,jdbcType=VARCHAR},
      </if>
      <if test="owerServerOid != null" >
        ower_server_oid = #{owerServerOid,jdbcType=VARCHAR},
      </if>
      <if test="trades != null" >
        trades = #{trades,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujie.ac.app.business.entity.LoginServer" >
    update login_server
    set oid = #{oid,jdbcType=VARCHAR},
    server_ip = #{serverIp,jdbcType=VARCHAR},
    server_port = #{serverPort,jdbcType=VARCHAR},
    server_oid = #{serverOid,jdbcType=VARCHAR},
    ower_server_oid = #{owerServerOid,jdbcType=VARCHAR},
    trades = #{trades,jdbcType=VARCHAR},
    creat_time = #{creatTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="findByOid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from login_server
    where oid = #{toOid}
    order by id desc limit 0,1
  </select>
</mapper>