<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wujie.ac.app.business.repository.SdsEventTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wujie.ac.app.business.entity.SdsEventTypeInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="event_name" property="eventName" jdbcType="VARCHAR" />
    <result column="event_relation_level" property="eventRelationLevel" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, event_name, event_relation_level, weight, updated_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sds_event_type_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sds_event_type_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wujie.ac.app.business.entity.SdsEventTypeInfo" >
    insert into sds_event_type_info (id, type, event_name, 
      event_relation_level, weight, updated_by, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{eventName,jdbcType=VARCHAR}, 
      #{eventRelationLevel,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{updatedBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wujie.ac.app.business.entity.SdsEventTypeInfo" >
    insert into sds_event_type_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="eventName != null" >
        event_name,
      </if>
      <if test="eventRelationLevel != null" >
        event_relation_level,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="eventName != null" >
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventRelationLevel != null" >
        #{eventRelationLevel,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujie.ac.app.business.entity.SdsEventTypeInfo" >
    update sds_event_type_info
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="eventName != null" >
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventRelationLevel != null" >
        event_relation_level = #{eventRelationLevel,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujie.ac.app.business.entity.SdsEventTypeInfo" >
    update sds_event_type_info
    set type = #{type,jdbcType=INTEGER},
      event_name = #{eventName,jdbcType=VARCHAR},
      event_relation_level = #{eventRelationLevel,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sds_event_type_info
  </select>
</mapper>